@{
    ViewData["Title"] = "Dictionary";
    var dictionary = ViewData["Dictionary"] ?? new List<Dictionary>();
}

@model Dictionary

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>

    <div class="container mt-3">
        <h1>Командный справочник</h1>
        <p>Описание...</p>
        <button class="btn btn-primary openCreate">Добавить новую запись</button>

        <hr />

        <div class="collapse collapseCreate">
            <div class="card shadow">
                <div class="row" style="margin: 10px">
                    <div class="col-12">
                        <h3>Добавить новую запись:</h3>

                        <form asp-action="Dictionary">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Наименование">
                            </div>
                            <div class="form-group">
                                <input asp-for="Description" type="text" class="form-control" placeholder="Описание">
                            </div>
                            <div class="form-group">
                                <input asp-for="SqlExpression" type="text" class="form-control" placeholder="SQL выражение">
                            </div>
                            <hr />
                            <div class="form-group text-right">
                                <input type="submit" value="Добавить в справочник" class="btn btn-success" />
                                <button type="button" class="btn btn-danger btnHideCreate">Отмена</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="collapse collapseChanges">
            <div class="card shadow">
                <div class="row" style="margin: 10px">
                    <div class="col-12">
                        <h3>Изменить существующую запись:</h3>
                        <h6>ID:0</h6>
                        <input type="text" class="form-control" placeholder="Наименование" id="usr">
                        <br />
                        <input type="text" class="form-control" placeholder="Описание" id="usr">
                        <br />
                        <input type="text" class="form-control" placeholder="SQL выражение" id="usr">
                        <hr />
                        <div class="text-right">
                            <div class="row">
                                <div class="col-8">
                                    <h6 class="text-left" style="color:orangered">
                                        <strong>Данная функция находится в разработке и она может работать некорректно.</strong>
                                    </h6>
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-primary">Сохранить</button>
                                    <button type="button" class="btn btn-danger btnHideChanges">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <input class="form-control shadow" id="dictionarySearch" type="text" placeholder="Search...">
        <br>
        <div class="shadow">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>SQL выражение</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="dictionary">
                    @foreach (var item in dictionary as List<Dictionary>)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.SqlExpression</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-block btnShowChanges">Изменить</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <p style="margin-bottom: 50px">Note that we start the search in tbody, to prevent filtering the table headers.</p>
    </div>

    <script>

        $(document).ready(function () {
            $("#dictionarySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#dictionary tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $(".btnToggleChanges").click(function () {
                $(".collapseChanges").collapse('toggle');
            });

            $(".btnShowChanges").click(function () {
                $(".collapseChanges").collapse('show');
                $(".collapseCreate").collapse('hide');
            });

            $(".btnHideChanges").click(function () {
                $(".collapseChanges").collapse('hide');
            });

            $(".openCreate").click(function () {
                $(".collapseCreate").collapse('show');
                $(".collapseChanges").collapse('hide');
            });

            $(".btnHideCreate").click(function () {
                $(".collapseCreate").collapse('hide');
            });
        });

    </script>

</body>
</html>

