@{
    ViewData["Title"] = "Dictionary";
    var dictionary = ViewData["Dictionary"] ?? new List<Dictionary>();
}

@model Dictionary

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/validation.css" />
</head>
<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Командный справочник</h1>
        <p class="lead">
            Справочник с описанием источников командных проектов.
        </p>
        <button id="btnAddingShow" class="btn btn-outline-primary">Добавить новую запись</button>
    </div>

    <div class="bd-example">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div id="collapseAdding" class="collapse">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center text-truncate">Добавить новую запись</h4>
            </div>
            <div class="container" style="margin-top:15px">
                <form asp-action="Dictionary" asp-controller="Team">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Наименование" asp-for="Name">
                                <input type="text" class="form-control" placeholder="Описание" asp-for="Description">
                                <input type="text" class="form-control" placeholder="SQL выражение" asp-for="SqlExpression">
                            </div>
                            <br />
                            <div class="form-group text-right">
                                <input type="submit" value="Добавить в справочник" class="btn btn-outline-primary" />
                                <button id="btnAddingClose" type="button" class="btn btn-danger">Отмена</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>


    <div id="collapseChanging" class="collapse">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center text-truncate">Изменить существующую запись</h4>
            </div>
            <div class="container" style="margin-top:15px">
                <form asp-action="Dictionary" asp-controller="Team">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger text-center" role="alert">
                                <strong>Данная функция находится в разработке, есть вероятность некорректной работы и непредвиденных последствий!</strong>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">ID: null</label>
                                </div>
                                <input type="text" class="form-control" placeholder="Наименование" asp-for="Name">
                                <input type="text" class="form-control" placeholder="Описание" asp-for="Description">
                                <input type="text" class="form-control" placeholder="SQL выражение" asp-for="SqlExpression">
                            </div>
                            <br />
                            <div class="form-group text-right">
                                <input type="submit" value="Добавить в справочник" class="btn btn-outline-primary" />
                                <button id="btnChangingClose" type="button" class="btn btn-danger">Отмена</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>

    <input class="form-control shadow" id="dictionarySearch" type="text" placeholder="Search..." />

    <br />

    <div class="shadow" style="margin-bottom: 50px">
        <table class="table table-bordered text-center table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Описание</th>
                    <th scope="col">SQL выражение</th>
                </tr>
            </thead>
            <tbody id="dictionary">
                @foreach (var item in dictionary as List<Dictionary>)
                {
                    <tr>
                        <td scope="row">@item.Id</td>
                        <td scope="row">@item.Name</td>
                        <td scope="row">@item.Description</td>
                        <td scope="row">@item.SqlExpression</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>

        $(document).ready(function () {
            $("#dictionarySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#dictionary tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $(".table-hover").dblclick(function () {
                $("#collapseChanging").collapse('show');
                $("#collapseAdding").collapse('hide');
                $("#btnAddingShow").show();
                //TODO: передача данных.
            });

            $("#btnChangingClose").click(function () {
                $("#collapseChanging").collapse('hide');
            });

            $("#btnAddingShow").click(function () {
                $("#collapseAdding").collapse('show');
                $("#collapseChanging").collapse('hide');
                $("#btnAddingShow").hide();
            });

            $("#btnAddingClose").click(function () {
                $("#collapseAdding").collapse('hide');
                $("#btnAddingShow").show();
            });
        });

    </script>

</body>
</html>

