@{
    ViewData["Title"] = "Files";
}
@model IEnumerable<File>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Командный файловый репозиторий</h1>
        <p class="lead">
            Хранилище полезных (и не очень) файлов.
        </p>
    </div>

    <div class="row">
        @foreach (var file in Model)
        {

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="container">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center text-truncate"
                                data-toggle="headPopover" data-trigger="hover"
                                data-content="@file.Name" data-placement="top">
                                @file.Name
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4 text-center">
                                <li style="height:50px">@file.Description</li>
                            </ul>
                            <a asp-controller="Team" asp-action="GetFile" asp-route-fileName="@file.FileName"
                               class="btn btn-lg btn-block btn-outline-primary">
                                Скачать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="headPopover"]').popover();
        });
    </script>

</body>
</html>
