@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>TEAM TOOLKIT 🛠</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="~/css/testStyle.css" asp-append-version="true">
</head>
<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <h1>Welcome</h1>
            <h3>@ViewData["UserName"]</h3>
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">TEAM TOOLKIT</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">Functional Development Blocks Team</p>
            <div>
                <h6>
                    <a class="w3-button w3-block
                            w3-white w3-padding-large w3-large
                            w3-opacity w3-hover-opacity-off"
                            asp-controller="Team" asp-action="Index">
                        LOG IN
                    </a>
                </h6>
            </div>
        </div>
    </div>

</body>
</html>