<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Hello!</h1>
    <br />
    <div style="color:aqua;">
        <h1>Hello!</h1>
    </div>
    <br />
    <div class="container" style="color:rebeccapurple;">
        <h1>Hello!</h1>
    </div>
    <br />
    <div class="container-fluid" style="color:aquamarine">
        <h1>Hello!</h1>
    </div>
</body>
</html>